@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.addBox p{
     
    background-color: rgba(252, 138, 6, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
     
    color: rgba(252, 138, 6, 1);
    border-radius: 40px;
    font-size: 30px;
    font-weight: 400;
    padding: 8px 20px;
    cursor: pointer;
}
.container{
    font-family: "Poppins";
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}
.addBox{
    border: 2px dashed rgba(175, 175, 175, 1);
    width: 22vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
}
.addBox1{
    border: 1px solid rgba(175, 175, 175, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25vw;
    height: 35vh;
    margin: auto;
    padding: 10px 20px;
     
}
.nameSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 22vw;
     margin: auto;
}
.defaultBtn p{
    background-color: rgba(252, 138, 6, 10%);
     
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    color: rgba(252, 138, 6, 1);
    
}
.address{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.address p{
    font-size: 17px;
}
.container h1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.container h1 i{
    cursor: pointer;
}
.btnSection{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.btnSection p{
    color: rgba(252, 138, 6, 1);
    cursor: pointer;
}
.addressBoxContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
}